[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/ZSerializer"]
	path = submodules/ZSerializer
	url = https://github.com/ZhangFengze/ZSerializer.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/magnum"]
	path = submodules/magnum
	url = https://github.com/mosra/magnum.git
[submodule "submodules/corrade"]
	path = submodules/corrade
	url = https://github.com/mosra/corrade.git
[submodule "submodules/magnum-integration"]
	path = submodules/magnum-integration
	url = git://github.com/mosra/magnum-integration
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/FastNoiseLite"]
	path = submodules/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
